.login-button a {
    padding: 4px 15px;
    color: #fff;
    background: #FF3C00;
    border-radius: 30px;
    display: inline-block;
    font-family: 'Fira Sans';
    position: relative;
    z-index: 1;
    transition: .5s;
    border: 1px solid #FF3C00;
}

.login-button a:hover:before {
    transform: scale(1);
}

.login-button a:before {
    position: absolute;
    content: "";
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    background: #10102E;
    transform: scale(0);
    transition: .5s;
}

.cookleads_menu>ul>li>a {
    text-transform: uppercase;
}
.cookleads_menu>ul>li {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0px 10px;
}

.search-form input {
    font-size: 14px;
    height: 36px;
    padding: 5px 25px;
    position: relative;
    width: 100%;
    background: #ffffff;
    border: 0;
    border-radius: 35px;
    padding-right: 150px;
}

.search-form button {
    transition: all 0.4s ease 0s;
    border: medium none;
    border-radius: 35px;
    background: #ff3c00;
    color: #fff;
    font-family: 'Fira Sans';
    font-weight: 500;
    text-align: center;
    padding: 4px 30px;
    position: absolute;
    right: 20px;
    top: 2px;
    display: inline-block;
    z-index: 1;
}